@import './Constants.css';

.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(250,240,230, 1), rgba(250, 240, 230, 0));
    height: 33vh;
    justify-content: center;
    border-bottom-style: solid;
    border-color: rgb(128, 128, 0);
}

.header .logo {
    font-family:'Times New Roman', Times, serif;
    font-size: 4rem;
    color: var(--pecan);
    text-shadow: 1px 1px 2px var(--marigold);
}

.header-nav {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-variant: small-caps;
}

.header-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin: 10px 0 30px 0;
}

.header-nav ul li {
    display: inline;
    margin: 0 10px;
}

.header-nav ul li a {
    text-decoration: none;
    color: var(--marigold);
}
.header-nav ul li a:hover {
    color: rgb(255, 182, 110);
}
