.header {
  background-color: #9fdfa2;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.header h1 {
  margin: 0;
}

.header nav ul {
  list-style: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin: 0 10px;
}

.header nav ul li a {
  text-decoration: none;
  color: #333;
}