@import './Constants.css';

.home-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  flex-direction: column;
  background-color: rgb(250, 240, 230);
}

.hero-section {
  background-color: rgba(250, 240, 230, 0.695); /* Light semi-transparent overlay */
  padding: 2.5rem;
  border-radius: 20px; /* Softer border radius for a modern look */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  max-width: 800px; /* Restrict width for better focus */
  width: 90%; /* Ensure responsiveness */
}

.hero-section:hover {
    background: url("/src/images/mk_home_background.png") no-repeat rgba(250, 240, 230, 0.695);
}


.hero-title {
  font-size: 2rem; /* Slightly smaller for balance */
  margin-bottom: 1rem;
  font-family: 'Georgia', serif;
  color: var(--pecan); /* Matches the button color for consistency */
}

.hero-subtitle {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 1.5rem;
  color: var(--marigold); /* Softer color for a subtle look */
}

.cta-button {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--marigold); /* Matches the site's primary color */
  border: none;
  border-radius: 25px; /* Rounded button for a modern look */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #eaa421bb;
}

/* Responsive adjustments for tablets */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .cta-button {
    font-size: 0.9rem;
    padding: 0.7rem 1.5rem;
  }
}



/* Responsive adjustments for mobile devices */
@media (max-width: 480px) {
  .hero-title {
    font-size: 1.8rem;
  }

  .hero-subtitle {
    font-size: 0.9rem;
  }

  .cta-button {
    font-size: 0.8rem;
    padding: 0.6rem 1.2rem;
  }
}